.nav.navbar-nav li a {
    color: white;
    font-family: cursive;
}

.nav.navbar-nav li a:hover{
    background-color:#116ba7;
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover{
    background-color:#0e7ec9;
    color: white;
}
.footer {
    background:#616f7e;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6%;
}

.footer ul {
    padding: 10px;
}

.footer ul li {
    color: white;
}

.footer ul li a {
    color: white;
}